*{
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color:darkgrey;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
  text-align: center;
}

body{
  background-color:beige;
}

section{
  padding: 3rem 2rem;
  max-width: 1200px;
  margin:0 auto;
}

.btn, .delete-btn{
  width: 65%;
  /*height: 2.9rem;*/
  display: block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: beige;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  justify-self: center;
}

.btn{
  background-color: rgb(108,59,170);
}

.delete-btn{
  background-color: rgb(255, 8, 0);
}

.btn:hover{
  background-color: rgb(130, 93, 177);
}

.delete-btn:hover{
  background-color: rgb(237, 41, 57);
}

.form-container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container form{
  width: 50%;
  display: block;
  background-color:white;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem black;
  border: 0.2rem solid darkgrey;
  /*text-align: center;*/
  padding: 3rem;
}

.form-container label{
  color: dimgray;
  margin-top: 0.3rem;
}

.title{
  font-size: 2rem;
  color:black;
  margin-top: 2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.box{
  width: 100%;
  height: 2.5rem;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid darkgrey;
  padding: 0.3rem 0.3rem;
  color: dimgray;
  background-color: beige;
}

.form-container form p{
  margin-top: 1.5rem;
  color:dimgray;
  font-size: 1rem;
}

.form-container form p a{
  font-weight: bold;
  color:rgb(108,59,170);
}

.form-container form p a:hover{
  text-decoration: underline;
  color: rgb(130, 93, 177);
}

label.error{
  color: tomato;
  text-transform: uppercase;
}

label.error, .form-container label{
  display: flex;
  justify-content: center;
}

.header{
  background: white;
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  /*border-bottom: 0.2rem solid darkgrey;*/
  box-shadow: 0 1rem 1rem rgba(0,0,0,.1);
}

.header .flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 auto;
  position: relative;
}

.header .flex .logo{
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.header .flex .logo span{
  font-size: 1.5rem;
  color: rgb(108,59,170);
}

.header .flex .navbar a{
  margin: 0 1rem;
  font-size: 1.1rem;
  color: dimgray;
}

.header .flex .navbar a:hover{
  text-decoration: underline;
  color: rgb(130, 93, 177);
}

.header .flex .icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .flex .icons > *{ /* > * inseamna ca se aplica atributele la fiecare copil al acestei clase */
  cursor: pointer;
  margin-left: 3rem;
}

.header .flex .icons .fas.fa-bars{
  color: gray;
  font-size: 1.5rem;
}

.header .flex .icons .profile-picture img{
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
}

.header .flex .icons .fas.fa-bars:hover{
  color: rgb(130, 93, 177);
}

.header .flex .icons .profile-picture img:hover{
  border: 0.15rem solid rgb(130, 93, 177);
  padding: 0.05rem;
}

#menu-btn {
  display: none;
}

/*@keyframes fadeIn{
  0%{
    transform: translateY(-1rem);
  }
}*/

.header .flex .profile{
  position: absolute;
  top: 100%;
  right: 0;
  border: 0.2rem solid darkgrey;
  /*border-radius: 0.5rem;*/
  padding: 1rem;
  text-align: center;
  background-color: white;
  width: 20rem;
  display: none;
  /*animation: fadeIn .2s linear;*/
}

.header .flex .profile.active{
  display: inline-block;
}

.header .flex .profile img{
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.header .flex .profile p{
  color: dimgray;
}

.update-profile, .update-product{
    max-width: 50rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form{
  margin: 0 auto;
  background-color: white;
  border: 0.2rem solid darkgrey;
  border-radius: 0.5rem;
  padding: 2rem;
}

.update-profile form img{
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

/*.update-profile form */.input-box-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.update-profile form */.input-box{
  width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/*.update-profile form */.input-box label{
  color: dimgray;
  display: block;
  margin-top: 0.3rem;
}

.update-product .update-form textarea{
  height: 15rem;
  color: dimgray;
}

.footer{
  background-color: white;
}

.footer .box-container{
  display: flex;
  justify-content: center;
  /*margin: 0 auto;*/
  padding: 1rem;
}

.footer .box-container .footer-box{
  margin-right: 5rem;
}

.footer .box-container .footer-box h3{
  color: dimgray;
}

.footer .box-container .footer-box a,
.footer .box-container .footer-box p{
  color: dimgray;
  display: block;
  padding: 0.7rem;
  text-align: left;
}

.footer .box-container .footer-box a:hover{
  text-decoration: underline;
  color: rgb(130, 93, 177);
}

.footer .box-container .footer-box a i,
.footer .box-container .footer-box p i{
  color: rgb(130, 93, 177);
  padding-right: 0.5rem;
}

/*.dashboard */.box-container{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1.5rem;
  align-items: stretch;
}

/*.dashboard .box-container */.box-subcontainer{
  padding: 1rem;
  border: 0.1rem solid darkgrey;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard .box-container h2{
  color: dimgray;
}

.dashboard .box-container p{
  color: dimgray;

}

.add-products {
  max-width: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-products form{
  margin: 0 auto;
  background-color: white;
  border: 0.2rem solid darkgrey;
  border-radius: 0.5rem;
  padding: 2rem;
}

.add-products form label, .update-product .update-form label{
   color: dimgray;
}

.add-products form option{
  color: dimgray;
}

.add-products form textarea, .update-product .update-form textarea{
  height: 15rem;
  color: dimgray;
}

.show-products .box-container .box-subcontainer p{
  color: dimgray;
}

.show-products .box-container .box-subcontainer .buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-products .box-container .box-subcontainer .buttons > *{
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.show-products .box-container .box-subcontainer img{
  height: 10rem;
  width: 10rem;
}

.empty {
  color: dimgray;
}

.update-product .update-form img{
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

/*media -> responsiveness*/
/*@media (max-width:990px){
  *{
    font-size: 75%;
  }
}*/

@media (max-width:750px){
  .title{
    font-size: 1.5rem;
  }
  .box{
    font-size: 0.7rem;
    padding: 0.5rem;
  }

  .btn, .delete-btn{
    font-size: 0.8rem;
  }
  
  .form-container form{
    padding: 2rem;
  }
  
  .form-container label{
    color: dimgray;
    margin-top: 0.3rem;
    font-size: 0.7rem;
  }
  
  .form-container form p{
    margin-top: 1.5rem;
    color:dimgray;
    font-size: 0.8rem;
  }

  .update-profile form img{
    height: 5rem;
    width: 5rem;
  }

  /*.update-profile form*/ .input-box label{
    font-size: 0.7rem;
  }
  #menu-btn {
    display: inline-block;
  }
  .header .flex .navbar{
    border-top: 0.2rem solid darkgrey;
    border-bottom: 0.2rem solid darkgrey;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transition: 0.2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .flex .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .flex .navbar a{
    display: block;
    margin: 1rem;
    font-size: 0.8rem;
  }

  .header .flex .profile{
    width: 15rem;
  }

  .header .flex .profile img{
    height: 6rem;
    width: 6rem;
  }
  
  .header .flex .profile p{
    font-size: 0.7rem;
  }

  .footer .box-container .footer-box h3{
    font-size: 1rem;
  }

  .footer .box-container .footer-box a,
.footer .box-container .footer-box p{
  font-size: 0.7rem;
}

.footer .box-container .footer-box a i,
.footer .box-container .footer-box p i{
  font-size: 0.7rem;
}
}

@media (max-width:450px){
  *{
    font-size: 90%;
  }
  .title{
    font-size: 1rem;
  }
  .box{
    font-size: 0.7rem;
    padding: 0.5rem;
  }

  .btn, .delete-btn{
    font-size: 0.8rem;
  }
  
  .form-container form{
    padding: 2rem;
  }
  
  .form-container label{
    color: dimgray;
    margin-top: 0.3rem;
    font-size: 0.7rem;
  }
  
  .form-container form p{
    margin-top: 1.5rem;
    color:dimgray;
    font-size: 0.8rem;
  }

  .header .flex .profile{
    width: 12rem;
  }

  .header .flex .profile img{
    height: 4rem;
    width: 4rem;
  }

  .update-profile form img{
    height: 5rem;
    width: 5rem;
  }

  /*.update-profile form */.input-box-container{
    display: block;
  }

  /*.update-profile form */.input-box{
    margin-left: 0;
    margin-right: 0;
  }

  .update-profile form .input-box label{
    font-size: 0.7rem;
  }
}
